[Unit]
Description=WebP Image Server
Documentation=https://github.com/BlueCocoa/webp_server_rs
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/cache/webps
ExecStart=/usr/local/bin/webp-server-rs /etc/webp-server-rs/config.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target

