Package: webp-server-rs
Version: 0.1.0
Architecture: amd64
Maintainer: Cocoa <0xbbc@0xbbc.com>
Priority: optional
Homepage: https://github.com/BlueCocoa/webp_server_rs
Description: Converting JPG/PNG images to WebP image on-the-fly with Rust!
